{% extends 'ATM/base.html' %}
{% block title %} {% endblock %}


{% block prehead %}

{% endblock %}

    {% block content %}

    <div class="container">

        <a class="btn btn-secondary" href="{% url 'index_clients' %}">Manage Clients</a>
        <a class="btn btn-secondary" href="{% url 'index_logs' %}">Logs</a>

        <h1>Manage Accounts of Clients</h1>

        {{ exist }}

        <button class="btn btn-success bt-xs float-end my-5" data-toggle="modal" data-target="#create_new_account">Register New Account </button>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Client Name</th>
                    <th>Bank Fund</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for account in accounts %}
                    <tr>
                        <td>{{account.id}}</td>
                        <td>{{account.client.name}}</td>
                        <td>{{account.bank_fund}}</td>
                        <td>
                            <button type="button" class="btn btn-info text-white btn-xs" data-toggle="modal" data-target="#view_account{{account.id}}">View</button>
                            <!-- Modal View Account -->
                                <div id="view_account{{account.id}}" class="modal fade" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Título del Modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <form>
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" id="name" value="{{account.client.name}}" placeholder="Enter text"disabled>
                                            </div>
                                              <div class="form-group">
                                                <label>Name Client</label>
                                                <input type="text" class="form-control" id="bank_fund" value="{{account.bank_fund}}" placeholder="Enter text" disabled>
                                            </div>
                                              <div class="form-group">
                                                <label>Name Client</label>
                                                <input type="text" class="form-control" id="card_pin" value="{{account.card_pin}}" placeholder="Enter text" disabled>
                                            </div>
                                          </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                            <button type="button" class="btn btn-warning text-white btn-xs" data-toggle="modal" data-target="#edit_account{{account.id}}">Edit</button>
                            <!-- Modal Edit Account -->
                                <div id="edit_account{{account.id}}" class="modal fade" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Título del Modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                        <form method="post" action="{% url 'edit_account' account.id %}">
                                          {% csrf_token %}
                                          {{ form_edit.as_p }}
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                              </div>
                                        </form>
                                    </div>
                                  </div>
                                </div>

                            <button type="button" class="btn btn-danger text-white btn-xs" data-toggle="modal" data-target="#delete_account{{account.id}}">Delete</button>
                            <!-- Modal Delete Client -->
                                <div id="delete_account{{account.id}}" class="modal fade" tabindex="-1" role="dialog">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Delete this Client</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                        <form method="post" action="{% url 'delete_account' account.id %}">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <p>want to delete this client?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>

                                    </div>
                                  </div>
                                </div>
                        </td>
                    </tr>
                    {% empty %}
                        {{clients}}
                {% endfor %}


            </tbody>
        </table>
    </div>

<!-- Modal New Account -->
 <div id="create_new_account" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Register new Client</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="post" action="{% url 'register_account' %}" id="account_form">
                 <div class="modal-body">
                     {% csrf_token %}
                     {{ form }}
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                     <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                 </div>
             </form>
         </div>
     </div>
 </div>


    {% endblock content %}

{% block js %}
{{block.super}}


{% endblock %}